@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.fillMobile {
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s;
}

.fillDesktop {
  background-size: 80% 85%;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  transition: background-image 0.5s;
}

.pressable {
  cursor: pointer;
}

.pressable:active {
  animation: pressable 2s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes pressable {
  0% {
    transform: scale(0.98);
  }

  40% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.hamburger span {
  width: 32px;
  height: 2px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  background-color: #b5ff16;
}

.hamburger.is-active span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.transition-height {
  transition: height 0.5s;
}
